<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <section class="content">
    <body>
      <%# <header class="mb-auto">
        <div>
          <h3 style = "color: White;" class="float-md-start mb-0">Calendar</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Login</a>
            <a class="nav-link" href="#">Sign up</a>
          </nav>
        </div>
      </header> %>
        <%= yield %>
        
        <% if session[:logged_in] %>
          <header class="mb-auto">
            <div style="padding-left:20px;">
              <a href="/"><%= image_tag("Logo.png", width: '50px')%></a>
              <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/home/reminder_email_test">Reminder</a>
                <a class="nav-link" href="/home/test_auth">Auth</a>
                <a class="nav-link" href="/home/invite_test">Invite</a>
                <a class="nav-link" href="/create_event">Create Event</a>
                <a class="nav-link" href="/home/events_test">Get My Events</a>
                <a class="nav-link" href="/home/update_event_test">Update Event</a>
                <a style="padding-right:10px;" class="nav-link" href="/home/test_log_out">Log out</a> 
              </nav>
            </div>
          </header>
          <div class="row">
            <% if @invited_events != nil %>
            <div class="col-sm-10 offset-sm-1 text-box white-text">
              <h3 class="text-center"> Invited Events </h3>
              <table class="table white-text">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Scheduled For</th>
                  <th scope="col">Creator</th>
                  <th scope="col">Invited Users</th>
                </tr>
                <% @invited_events.each do |event| %>
                  <tr>
                    <td><%= event["title"] %></td>
                    <td><%= event["description"] %></td>
                    <td><%= event["scheduledAt"] %></td>
                    <td><%= event["creator"] %></td>
                    <td><% event["invitees"].each do |user| %><%= user%> <% end %></td>
                  </tr>
                <% end %>
              </table>
            </div>
            <% else %>
                  <div class="col-sm-4 offset-sm-2 text-box white-text">
                    <h3 class="text-center"> Invited Events </h3>
                    <p class="text-center">Events that you have been invited to will appear here</p>
                </div>
            <% end %>
            <% if @created_events != nil %>
            <div class="col-sm-10 offset-sm-1 text-box white-text">
              <h3 class="text-center"> Created Events </h3>

              <table class="table white-text">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Scheduled For</th>
                  <th scope="col">Invited Users</th>
                  <th scope="col"></th>
                  <th scope="col"></th>

                </tr>
                <% @created_events.each do |event| %>
                  <tr>
                    <td><%= event["title"] %></td>
                    <td><%= event["description"] %></td>
                    <td><%= event["scheduledAt"] %></td>
                    <td><% event["invitees"].each do |user| %><%= user%> <% end %></td>
                    <td><%= link_to "Edit Event", root_path, class:"btn btn-info"%></td>
                    <td><%= link_to "Delete Event", delete_event_path(event), method: 'post', class:"btn btn-info"%></td>

                  </tr>
                <% end %>
              </table>
            </div>
            <% else %>
                  <div class="col-sm-4 text-box white-text text-center">
                    <h3> Create An Event </h3>
                    <p>Schedule your first event and invite some people</p>
                    <%= link_to "Create Event", root_path, class: "btn btn-info"%>
                  </div>
            <% end %>
          </div>
        <% else %>
          <header class="mb-auto">
            <div style="padding-left:20px;">
              <a href = "/"><%= image_tag("Logo.png", width: '50px') %></a>
              <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/login">Login</a>
                <a style="padding-right:10px;" class="nav-link" href="/sign_up">Sign up</a>
              </nav>
            </div>
          </header>
        <% end %>
    </body>
  </section>
</html>