<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= link_to "Authorize", home_test_auth_path, class: 'btn btn-warning btn-md' %>

    <% if session[:logged_in] %>
      <%= link_to "Logout", home_test_log_out_path, class: 'btn btn-warning btn-md' %>
    <% else %>
      <%= link_to "Login", home_test_path,  class: 'btn btn-info btn-md' %>
      <%= link_to "Sign up", sign_up_path,  class: 'btn btn-info btn-md' %>
    <% end %>

  </body>
</html>