<body>
  <div class="row pt-5">
    <div class="col-md-6 offset-md-3 text-box">
      <h3 class="text-center", style="color: White;">Edit Event</h3>

      <%= form_for @update_event_validation, as: :update_event_validation, url: update_event_send_path do |f| %>
        <%= f.hidden_field :id, value: params["id"] %>
        
        <div class = "paragraph">
          <div class="field row", style="margin-top: 10px;">
            <%= f.label :title, "Title:", class: "form-label col-sm-4 text-sm-end" %><br />
            <%= f.text_field :title, class: "col-sm-7", required: true %>
          </div>

          <div class="field row", style="margin-top: 10px;">
            <%= f.label :description, "Description:", class: "form-label col-sm-4 text-sm-end" %><br />
            <%= f.text_field :description, class:"col-sm-7", required: true %>
          </div>

          <%= f.hidden_field :active, value: true %>

          <div class="field row", style="margin-top: 10px;">
            <%= f.label :scheduledAtTime, "Time", class: "form-label col-sm-4 text-sm-end" %>
            <%= f.time_field :scheduledAtTime, class:"col-sm-7", required: true %>
          </div>

          <div class="field row", style="margin-top: 10px;">
            <%= f.label :scheduledAtDate, "Date", class: "form-label col-sm-4 text-sm-end" %>
            <%= f.date_field :scheduledAtDate, class:"col-sm-7", required: true %>
          </div>

          <%= f.hidden_field :creator, value: session[:user_id] %>
          
          <div class="field row", style="margin-top: 10px;">
            <%= f.label :invitees, "Invites:", class: "form-label col-sm-4 text-sm-end" %>
            <%= f.text_field :invitees, class:"col-sm-7", required: true %>
          </div> 
          <% if @update_event_error != "" %>
              <div class="row field">
                <div class="alert alert-danger error_message offset-sm-4 col-sm-7" role="alert">
                  <%= @update_event_error %>
                </div>
              </div>
          <% end %>


          <div class="actions text-center">
            <%= f.submit "Update Event", class: "btn btn-success text-center margin_top" %>
          </div>
        </div>
      <% end %>
    </div> 
  </div>   
</body>