<div class="row pt-5">
  <div class="col-md-6 offset-md-3 text-box">

    <h2 class="text-center">Change your password</h2>

    <%= form_for @reset_password_validation, as: :reset_password_validation, url: reset_password_setup_path do |f| %>
      <%= f.hidden_field :token, value: params["token"] %>

      <div class="field row">
        <%= f.label :password, "New password", class: "col-sm-4 text-sm-end" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, class: "col-sm-7", required: true, autofocus: true, autocomplete: "new-password" %>
      </div>

      <div class="field row", style="margin-top: 10px;">
        <%= f.label :password_confirmation, "Confirm new password", class: "col-sm-4 text-sm-end" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-7", required: true %>
      </div>
      <% if @reset_password_validation.errors.full_messages.any? %>
        <% @reset_password_validation.errors.full_messages.each do |error_message| %>
          <div class="row field">
            <div class="alert alert-danger error_message offset-sm-4 col-sm-7" role="alert">
              <%= error_message %>
              </div>
            </div>
        <% end %>
      <% end %>

      <div class="actions text-center">
        <%= f.submit "Change my password", class: "btn btn-info text-center margin_top" %>
      </div>
    <% end %>
  </div>
</div>